# Ignore all test and documentation for archive
/test               export-ignore
/phpunit.xml.dist   export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/Dockerfile         export-ignore
/container          export-ignore
