<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         bootstrap="test/bootstrap.php"
         cacheResultFile=".cache/.phpunit.result"
         colors="true"
         verbose="true"
>
    <testsuites>
        <testsuite name="Target Test Suite">
            <directory>test/units</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory suffix=".php">src/modules</directory>
            <directory suffix="Interface.php">src</directory>
            <directory suffix="Data.php">src</directory>
            <directory suffix="Command.php">src</directory>
            <directory suffix="Event.php">src</directory>
        </exclude>
    </coverage>
</phpunit>